.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 34px;
  border-radius: 30px;
  background: #ccc;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  left: 4px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
